body{
  margin: 0;
  padding: 0;
  
  line-height: 1.5;
  overflow-x: hidden;
}
nav{
  background-color: gray;
  padding: 1rem;

  width: 100%;
 
  /*position: fixed;*/
  /*position: absolute;*/

  /*opacity: 0.9;*/
  /*background-color: rgba(128, 128, 128, .9)*/
}

ul{
  display: flex;

  justify-content: space-evenly;

  list-style-type: none;
}

p{
  font-size: 20px;
  max-width: 50ch;
}

.image{
  background-image:/*linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ url("https://picsum.photos/id/10/800/800");
  
  width: 100%;
  height: 90vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /*filter: brightness(50%);*/
  /*clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%);*/
}

header{
  margin: auto;
  padding:1rem;
  padding-top:20rem;
  text-align: center;
  color: white;
}

h1{
  margin: 0;
}